{% extends 'aprendizaje/base.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}

<h2>Iniciar sesión</h2>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="POST">

    {% csrf_token %}

    <label>Usuario</label><br>
    <input type="text" name="username"><br><br>

    <label>Contraseña</label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Ingresar</button>

</form>

<p>
    ¿No tienes cuenta?
    <a href="{% url 'registro' %}">Regístrate aquí</a>
</p>

{% endblock %}